.bg-axianea { background-color: #E97D0C !important; }

.color-axianea { color: #E97D0C; }

.btn-axianea { color: #E97D0C; }
.btn-axianea:hover { background-color: #E97D0C; color: whitesmoke; }
.btn-axianea:focus { box-shadow: 0 0 0 0.2rem rgba(180, 70, 5, 0.41); }

.is-focused [class*=" bmd-label"], .is-focused [class^=bmd-label] {
    color: #E97D0C;
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
    background-image: linear-gradient(0deg,#E97D0C 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

.main-nav.navbar .navbar-nav .nav-item.active {
    background-color: #E97D0C;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(233,125,12,.4);
}


table.table tr td { border-color: #E97D0C; }

/* FONT */
@font-face { font-family: 'CustomTitle';   src: url('../fonts/caviar_dreams/CaviarDreams.ttf'); }
@font-face { font-family: 'CustomTitle'; src: url('../fonts/caviar_dreams/CaviarDreams_Bold.ttf'); font-weight: bold;  }
@font-face { font-family: 'CustomTitle'; src: url('../fonts/caviar_dreams/CaviarDreams_BoldItalic.ttf'); font-weight: bold; font-style: italic; }
@font-face { font-family: 'CustomTitle'; src: url('../fonts/caviar_dreams/CaviarDreams_Italic.ttf'); font-style: italic; }

@font-face { font-family: 'CustomBody'; src: url('../fonts/segoe_ui/segoeui.ttf'); }
@font-face { font-family: 'CustomBody'; src: url('../fonts/segoe_ui/segoeuib.ttf'); font-weight: bold; }
@font-face { font-family: 'CustomBody'; src: url('../fonts/segoe_ui/segoeuii.ttf'); font-style: italic; }

/* END FONT*/