.hidden {
    display: none !important;
}

/**
Advanced style
**/

h1, h2, .h1, .h2, .main-nav.navbar .navbar-nav .nav-item .nav-link span {
    font-family: CustomTitle, Roboto, Helvetica, sans-serif;
}

* {
    font-family: CustomBody,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5em;
}

body {
    background-color: #eee;
    color: #3c4858;
    min-height: 100vh;
}

main {
    min-height: 100vh;
}

.progressBar { position: fixed;top: 0; left: 0; height: 2px; background-color: blue; border-radius: 5px; transition: 0.25s all; z-index: 90000;}


.dashboard-metric {
    font-size: 24px;
}

.list-group.members-arbo-list {
    align-items: baseline;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.list-group-item.members-arbo-item {
    align-items: center;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

.list-group-item.members-arbo-item.top-level {
    box-shadow: none;
}

.members-arbo-item.list-group-item,
.members-arbo-item.list-group-item .members-arbo-text {
    margin-right: 0;
}
.members-arbo-item.list-group-item :first-child {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
.members-arbo-item.list-group-item :nth-child(2) {
    margin-top: 10px;
}

.list-group-item.members-arbo-item .members-arbo-text {
    margin-right: 0;
    text-align: center;
    padding: 10px 15px;
    width: 160px;
    height: 100px;
    justify-content: center;
}

.bg-axianea { background-color: #E97D0C !important; }

.color-axianea { color: #E97D0C; }

.btn-axianea { color: #E97D0C; }
.btn-axianea:hover { background-color: #E97D0C; color: whitesmoke; }
.btn-axianea:focus { box-shadow: 0 0 0 0.2rem rgba(180, 70, 5, 0.41); }
.badge.badge-axianea { background-color: #E97D0C; color: whitesmoke; }


.main-nav.navbar {
    background: white;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.main-nav.navbar .company-logo-link .company-logo {
    position: static; display: block; max-width: 55%; max-height: 100%; margin: 40px auto 60px auto;
}

.main-nav.navbar .navbar-nav { width: 100%; padding: 0; }
.main-nav.navbar .navbar-nav .nav-item { margin-bottom: 10px; border-radius: 4px;  transition: 0.25s background-color;}
.main-nav.navbar .navbar-nav .nav-item.active { color: white; background-color: #aaaaaa; box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,0,0,.4); }
.main-nav.navbar .navbar-nav .nav-item:hover { background-color: rgba(159,159,159,0.17) }
.main-nav.navbar .navbar-nav .nav-item .nav-link { display: flex; align-items: center; border: 0; padding: 10px 15px; }
.main-nav.navbar .navbar-nav .nav-item.active .nav-link { color: white; }
.main-nav.navbar .navbar-nav .nav-item .nav-link .user-icon { background:white; width: 48px; border-radius: 50%; margin-left: -20px; border: 1px solid white; }
.main-nav.navbar .navbar-nav .nav-item .nav-link i { font-size: 24px; }
.main-nav.navbar .navbar-nav .nav-item .nav-link span { margin-left: 15px; font-size: 14px; text-transform: none; }


.notification-group { position: absolute; right: 10px; top: 10px; cursor: pointer; }
.notification-amount { position: absolute; right: -13px; top:-5px; }

.notification-popup {
    position: absolute; right: 5px; top: 25px; overflow-y: scroll;
    left: -25vw; max-height: 50vh;
    background: white; z-index: 99; box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px 0;
}


/*Reduced*/
.main-nav.navbar.reduced .navbar-nav .nav-item .nav-link.nav-brand { padding: 0; }
.main-nav.navbar.reduced .navbar-nav .nav-item .nav-link .user-icon { max-width: 100%; margin: auto;}
.main-nav.navbar.reduced .navbar-nav .nav-item .nav-link i { margin: auto; }
.main-nav.navbar.reduced .company-logo-link .company-logo{ max-width: 100%; }

@media (max-width: 992px) {
    .main-nav.navbar .navbar-nav .nav-item .nav-link .user-icon { width: 60%; margin: auto; }
    .main-nav.navbar .navbar-nav .nav-item i {
        margin: auto;
    }
    .main-nav.navbar .company-logo-link .company-logo {
        margin-bottom: 30px;
        max-width: 65%;
    }
}

@media (max-width: 768px) {
    .main-nav.navbar .navbar-nav .nav-item i {
        font-size: 22px;
    }
    .main-nav.navbar .navbar-nav .nav-item .nav-link .user-icon { width: 100%; margin: auto; }

    .main-nav.navbar .company-logo-link .company-logo { max-width: 75%; margin-bottom: 30px;}
}

@media (max-width: 580px) {
    .main-nav.navbar .navbar-nav .nav-item .nav-link .user-icon { width: calc(100% + 20px); margin: auto; margin-left: -10px; }
    .main-nav.navbar .company-logo-link .company-logo { max-width: 100%; }
}

/*
* Overwrite bootstrap base CSS to adapt it
*/

/*BS base css for this one is unscoped... */

.custom-file-control:disabled, .form-control:disabled, .form-control[readonly], [readonly].custom-file-control {
    background-color: unset;
}
.custom-file-control:disabled, .disabled.custom-file-control, .form-control.disabled, .form-control:disabled,
.form-control[disabled], [disabled].custom-file-control, fieldset[disabled][disabled] .custom-file-control,
fieldset[disabled][disabled] .form-control {
    background: unset;
}

.alert .close, .alert .close span{
    font-weight: 700; line-height: 1;
}

.card {
    border-radius: 6px;
}

.card-header:first-child {
    border-radius: 6px 6px 0 0;
}

.nav-item .nav-link, .nav-brand {
    font-size: 0.70rem;
}

.card.card-fix {
    height: 100%;
}

table.table {
    margin-bottom: 0;
}

table.table td, table.table th {
    vertical-align: middle;
}

.table tr td {
    border-top: 0;
    border-bottom: 1px solid;
    border-color: lightgrey;
    padding: 5px 10px;
    line-height: 1;
}
.table tr th {
    line-height: 1;
    border-right: 1px solid rgba(130, 130, 130, 0.15);
}

.table tr:last-child td {
    border-bottom: 0;
}

.table tr:first-child{
   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.table tr:nth-child(2) td {

}
.table tr td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.is-focused [class*=" bmd-label"], .is-focused [class^=bmd-label] {
    color: #E97D0C;
}

.list-group-item:focus, .list-group-item:hover {
    z-index: initial;
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
    background-image: linear-gradient(0deg,#E97D0C 2px,rgba(0,150,136,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}


.notification-item {
    font-size: 14px;
}

#reduceMenuBtn {
    transition: 0.25s all;
}
#reduceMenuBtn.rotated {
    transform: rotate(180deg);
}
.position-sticky{
    position: -webkit-sticky!important;
    top: 0;
}


/**
Print
 */


@media print {
    body {
        background-color: white;
    }
}


#developerPanel {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 70vw;
    overflow-y: scroll;
    background: #d6d4d4cc;
    padding: 5px 15px;
    box-shadow: 4px 2px 14px 6px rgba(56, 56, 56, 0.43);
}